<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>RI Tracker</string>
	<key>CFBundleExecutable</key>
	<string>RI Tracker</string>
	<key>CFBundleIconFile</key>
	<string>generated-26371eeb2ba8d00a4de6c9cb222b6c0b1e20a287a46603465d7c13102a3150b6.icns</string>
	<key>CFBundleIdentifier</key>
	<string>RI Tracker</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RI Tracker</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
